<div class="page-header">
  <%= link_to roles_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Nuevo Rol</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to roles_path do %>
        <%= fa_icon "universal-access", text: "Roles" %>
    <% end %>
  </li>
  <li class="active">
    Nuevo Rol
  </li>
</ol>

<%= render 'form' %>
